.board {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;
}

.row {
  display: flex;
}

.cell {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: transparent;
}

.row:nth-child(2n) .cell:nth-child(2n) {
  background-color: #769656;
}

.row:nth-child(2n-1) .cell:nth-child(2n-1) {
  background-color: #769656;
}

.over {
  background-color: #354426 !important;
}

.pawn_1 {
  background-image: url('pawn_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.rock_1 {
  background-image: url('rock_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.knight_1 {
  background-image: url('knight_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.bishop_1 {
  background-image: url('bishop_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.queen_1 {
  background-image: url('queen_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.king_1 {
  background-image: url('king_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.pawn_2 {
  background-image: url('pawn_2.png') !important;
  background-size: cover;
  cursor: grab;
}
.rock_2 {
  background-image: url('rock_2.png') !important;
  background-size: cover;
  cursor: grab;
}
.knight_2 {
  background-image: url('knight_2.png') !important;
  background-size: cover;
  cursor: grab;
}
.bishop_2 {
  background-image: url('bishop_2.png') !important;
  background-size: cover;
  cursor: grab;
}
.queen_2 {
  background-image: url('queen_2.png') !important;
  background-size: cover;
  cursor: grab;
}
.king_2 {
  background-image: url('king_2.png') !important;
  background-size: cover;
  cursor: grab;
}

.pawn_3 {
  background-image: url('pawn_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.rock_3 {
  background-image: url('rock_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.knight_3 {
  background-image: url('knight_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.bishop_3 {
  background-image: url('bishop_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.queen_3 {
  background-image: url('queen_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.king_3 {
  background-image: url('king_1.png') !important;
  background-size: cover;
  cursor: grab;
}

.pawn_4 {
  background-image: url('pawn_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.rock_4 {
  background-image: url('rock_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.knight_4 {
  background-image: url('knight_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.bishop_4 {
  background-image: url('bishop_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.queen_4 {
  background-image: url('queen_1.png') !important;
  background-size: cover;
  cursor: grab;
}
.king_4 {
  background-image: url('king_1.png') !important;
  background-blend-mode: color;
  cursor: grab;
}

.x {
  background-color: #312e2b;
}

.row:nth-child(2n) .cell.x:nth-child(2n) {
  background-color: #312e2b;
}

.row:nth-child(2n-1) .cell.x:nth-child(2n-1) {
  background-color: #312e2b;
}
