.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.row {
  display: flex;
}

.cell {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: transparent;
  position: relative;
}

.row:nth-child(2n) .cell:nth-child(2n) {
  background-color: #8c939b;
}

.row:nth-child(2n-1) .cell:nth-child(2n-1) {
  background-color: #8c939b;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #19201328;
  z-index: 1;
}

.over {
  background-color: #354426 !important;
}

.finished {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  background-color: white;
  padding: 3rem;
  counter-reset: black;
  box-shadow: 0 0 5px black;
  border-radius: 0.25rem;
  background-image: linear-gradient(to bottom, #8c939b, white);
  animation: fade 0.3s;
}

.finished.hide {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-button {
  font-weight: 900;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.x {
  background-color: #312e2b;
}

.row:nth-child(2n) .cell.x:nth-child(2n) {
  background-color: #312e2b;
}

.row:nth-child(2n-1) .cell.x:nth-child(2n-1) {
  background-color: #312e2b;
}

.promotion-selected {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  color: transparent;
  background-size: cover;
}

.promotion-selected.rock_1 {
  background-image: url('pieces/rock_1.png');
}

.promotion-selected.knight_1 {
  background-image: url('pieces/knight_1.png');
}

.promotion-selected.bishop_1 {
  background-image: url('pieces/bishop_1.png');
}

.promotion-selected.queen_1 {
  background-image: url('pieces/queen_1.png');
}

.promotion-selected.rock_2 {
  background-image: url('pieces/rock_2.png');
}

.promotion-selected.knight_2 {
  background-image: url('pieces/knight_2.png');
}

.promotion-selected.bishop_2 {
  background-image: url('pieces/bishop_2.png');
}

.promotion-selected.queen_2 {
  background-image: url('pieces/queen_2.png');
}

.test {
  cursor: grab;
  height: 100%;
  width: 100%;
}

.killed-pieces {
  display: flex;
}

.killed-piece {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: -0.25rem;
}

.last-move {
  background-color: goldenrod !important;
}
