.information {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.information div {
  border-radius: 0.25rem;
  background-color: #272522;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}