.mini-board {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;
}

.mini-row {
  display: flex;
}

.mini-cell {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  font-size: 0.75rem;
  color: transparent;
}

.mini-row:nth-child(2n) .mini-cell:nth-child(2n) {
  background-color: #8c939b;
}

.mini-row:nth-child(2n-1) .mini-cell:nth-child(2n-1) {
  background-color: #8c939b;
}

.mini-cell.x {
  background-color: #272522;
}

.mini-row:nth-child(2n) .mini-cell.x:nth-child(2n) {
  background-color: #272522;
}

.mini-row:nth-child(2n-1) .mini-cell.x:nth-child(2n-1) {
  background-color: #272522;
}