/* width */
::-webkit-scrollbar {
  width: 7.5px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(38, 36, 36), rgb(62, 70, 76), rgb(38, 36, 36));
  border-radius: 10px;
}
